name: Format

on:
  push:
    branches: [ main ]

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Setup Java first
      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      # Run the formatter
      - name: Format Java code
        uses: axel-op/googlejavaformat-action@v4
        with:
          args: "--skip-sorting-imports --replace 'src/**/*.java'"
