name: Java Linting

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Check Google Java Format
        uses: axel-op/googlejavaformat-action@v3
        with:
          args: --check # Use --check to only verify, without modifying files
